<%= render "layouts/header" %>
<div class="row">
  <aside class="col-md-4">
    <h1>
      <%= @user.name %>
    </h1>
  </aside>

  <div class="col-md-6 col-md-offset-3">
    <h1> Hosted Events </h1>
      <ul class="events">
        <% @hosted_events.each do |event| %>
          <li><%= link_to event.date, event%></li>
        <% end %>
      </ul>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <h1> Upcoming Events </h1>
      <ul class="events">
        <% @upcoming_events.each do |event| %>
          <li><%= link_to event.date, event%></li>
        <% end %>
      </ul>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <h1> Past Events </h1>
      <ul class="events">
        <% @past_events.each do |event| %>
          <li><%= link_to event.date, event%></li>
        <% end %>
      </ul>
  </div>

</div>
